body {
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 1rem;
}

.full-height {
  height: 100vh;
}

.back-to-home-link {
  padding-left: 1rem;
}

.login-btn {
  display: block;
  margin: 1rem auto;
  width: fit-content;
}

.single-post {
  border: none;
}

.single-post:hover {
  border: none;
  cursor: default;
}

.static-post {
  border: none;
  width: 70%;
  margin: 10px auto;
  position: relative;
}

.static-post .link:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.static-post:hover {
  cursor: default;
  border: none;
}

.icon {
  font-size: 1.8rem;
}

.icon:hover {
  cursor: pointer;
}

.post-action-icon {
  position: absolute;
  right: 0;
  top: 1rem;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .post-link {
    width: 90%;
  }

  .static-post {
    width: 90%;
  }

  .post-action-icon {
    top: 0;
  }

  .single-post {
    padding: 0;
    padding-top: 1rem;
  }
}
