body {
  font-family: sans-serif;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #000;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  padding: 10px 1rem;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.user-actions {
  display: flex;
  font-size: 1rem;
}

.user-actions > div {
  margin-left: 10px;
}

.app-title {
  font-size: 2rem;
  font-weight: 900;
}

.post {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  padding-bottom: 0;
  margin: 10px auto;
}

.post:hover {
  cursor: pointer;
  border: 1px solid #000;
}

.static-post {
  border: none;
}

.static-post:hover {
  cursor: default;
  border: none;
}

.post-title {
  font-size: 2rem;
  font-weight: 900;
  display: block;
  padding-bottom: 10px;
}

.post-publish-date {
  font-style: italic;
  padding-top: 10px;
}

.post-content {
  padding-top: 20px;
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  resize: none;
}

.post .post-content:hover {
  cursor: pointer;
}

.icon {
  font-size: 1.8rem;
}

.icon:hover {
  cursor: pointer;
}
