.new-post {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem auto;
}

@media screen and (max-width: 425px) {
  .new-post {
    width: 95%;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 900;
  padding-bottom: 0;
}

.content {
  font-size: 1.2rem;
  line-height: 1.4;
  height: 60vh;
}

.disable-btn {
  user-select: none;
  pointer-events: none;
  color: #cfcfcf;
}
